@import "tailwindcss";

:root {
  --bg-color: #FFF;
  --bg-accent: #F7F7F7;

  --accent-light: #EBEBEB;
  --accent-dark: #898989;

  --yellow: #FEEB9D;
  --green: #BDF2D2;
  --blue: #2664FE;
  --black: #000;
}


* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;

  background-color: var(--bg-accent);
}

.mainLayoutContainer {
  width: 100%;
  height: 100dvh;

  padding: 10px;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.sideBarContainer {
  width: 250px;
  height: 100%;

  margin-bottom: 5px;

  position: relative;
}

.sideBar {
  width: 100%;
  height: 100%;

  border-right: 2px solid var(--accent-light);
  border-radius: 20px 0px 0px 20px;
  padding: 10px 0px 40px 0px;

  background: white;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.IBWImg {
  width: 100px;

  padding-left: 20px;
  align-self: start;
}



.navContentAndFooterContainer {
  width: 100%;
  height: 100%;

  margin-bottom: 5px;
  border-radius: 0px 20px 20px 0px;

  display: flex;
  flex-direction: column;
  align-items: center;
  
  background: var(--bg-color);
}

.navBarContainer {
  width: 100%;
  height: 90px;

  position: relative;
}
.navBar {
  width: 100%;
  height: 100%;

  background: var(--bg-color);

  border-bottom: 2px solid var(--accent-light);
  border-radius: 0px 20px 0px 0px;
  padding: 5px 20px;

  display: flex;
  flex-direction: column;
}

.navBarSection {
  width: 100%;
  height: 100%;


  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navSection {
  width: 30%;
  height: 45px;

  padding: 5px;
  border-radius: 20px;
  background-color: var(--bg-accent);

  display: flex;
  justify-content: center;
  align-items: center;
}





.output {
  width: 100%;
  height: 100%;

  position: relative;

  overflow-y: auto;
}

.footerContainer {
  width: 100%;
  height: fit-content;

  position: relative;
}

/*                                            Home JSX                                               */

.heroAd {
  width: 100%;
  height: 70dvh;

  display: flex;
  justify-content: space-between;
}

.productList {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;

  margin: 0 auto;
  padding: 16px;
}

/*                                            User Dashboard JSX                                               */

.profileSection {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.orderSection {
  width: 100;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.productSection {
  width: 100;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
.recommendedProductSection {
  width: 100;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}


/*                                           UI   Components                                    */ 
.miniUITile {
  padding: 5px;
  border-radius: 100%;

  cursor: pointer;
  transition: all ease-in-out 0.3s;

  background-color: var(--accent-light);
} .miniUITile:hover {
  background: var(--yellow);
}




/*                             RESPONSIVE WEB PART                                                 */

/* Tablet styles: 640px to 1024px */
@media (max-width: 740px) {
  .heroAd {
    height: 80dvh;
    flex-direction: column;
    gap: 20px;
  }
  .heroAdSec {
    width: 100%;
  }

  .productList {
    justify-content: center;
    align-items: center;
  }
}
