@import "tailwindcss";

:root {
  --bg-color: #FFF;
  --bg-accent: #F7F7F7;

  --accent-light: #EBEBEB;
  --accent-dark: #898989;

  --yellow: #FEEB9D;
  --green: #BDF2D2;
  --blue: #4972d8;
  --orange: #f1813d;
  --gray: #101828;
  --black: #000;


  --apple: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


* {
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;

  background-color: var(--accent-dark);
}

/* Prevents Swiper from blocking scroll */
.swiper {
  touch-action: pan-y;
}


.mainLayoutContainer {
  width: 100%;
  height: 100dvh;

  padding: 10px;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.sideBarContainer {
  width: 250px;
  height: 100%;

  margin-bottom: 5px;

  position: relative;
} .sideBar {
  width: 100%;
  height: 100%;

  border-right: 2px solid var(--accent-light);
  border-radius: 20px 0px 0px 20px;
  padding: 10px 20px 40px 20px;

  background: var(--bg-color);
  color: var(--accent-dark);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
.sideTiles {
  width: 100%;

  border-radius: 17px;
  padding: 10px 0px;

  font-weight: 500;
  text-align: center;
  
  transition: all 0.25s ease-in-out;
} .sideTiles:hover {
  background-color: var(--accent-light);
  color: var(--accent-dark);
} .activeSideTile {
  background: var(--accent-light);
  color: var(--gray);
}
.IBWImg {
  width: 100px;

  align-self: start;
}



.navContentAndFooterContainer {
  width: 100%;
  height: 100%;

  margin-bottom: 5px;
  border-radius: 0px 20px 20px 0px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: var(--bg-color);
}


.navBarContainer {
  width: 100%;
  height: 100px;

  position: relative;
} .navBar {
  width: 100%;
  height: 100%;

  background: var(--bg-color);

  border-bottom: 2px solid var(--accent-light);
  border-radius: 0px 20px 0px 0px;
  padding: 5px 20px;

  display: flex;
  flex-direction: column;
}

.navBarSection {
  width: 100%;
  height: 100%;


  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navSection {
  width: 30%;
  height: 45px;

  padding: 5px;
  border-radius: 20px;
  background-color: var(--bg-accent);

  display: flex;
  justify-content: center;
  align-items: center;
}





.output {
  width: 100%;
  height: 100%;

  border-radius: 0px 0px 20px 0px;
  background: var(--bg-accent);

  position: relative;

  overflow-y: auto;
}

.footerContainer {
  width: 100%;
  height: fit-content;

  position: relative;
}

/*                                            Home JSX                                               */

.heroAd {
  width: 100%;
  height: 80dvh;

  display: flex;
  justify-content: space-between;
}

.productList {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;

  margin: 0 auto;
  padding: 16px;
}

/*                                            User Dashboard JSX                                               */

.profileSection {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.orderSection {
  width: 100;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.productSection {
  width: 100;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.recommendedProductSection {
  width: 100;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}


/*                                           UI   Components                                    */
.miniUITile {
  padding: 5px;
  border-radius: 100%;

  cursor: pointer;
  transition: all ease-in-out 0.3s;

  background-color: var(--accent-light);
}

.miniUITile:hover {
  background: var(--yellow);
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: rgba(255,255,255,0.8);
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: #3b82f6; /* Tailwind blue-500 */
}



/*                             RESPONSIVE WEB PART                                                 */














